# {{ansible_managed}}

// Enable unattended upgrades.
APT::Periodic::Enable "1";
 
// Do "apt-get upgrade" every n-days (0=disable).
APT::Periodic::Unattended-Upgrade "1";
 
// Do "apt-get update" automatically every n-days (0=disable)
APT::Periodic::Update-Package-Lists "1";
 
// Do "apt-get upgrade --download-only" every n-days (0=disable).
APT::Periodic::Download-Upgradeable-Packages "1";
 
// Do "apt-get autoclean" every n-days (0=disable).
APT::Periodic::AutocleanInterval "2";